#fan-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  background-image: url('../assets/images/wallpaper4.png');
  background-size: cover;
  gap: 10px;
  flex-direction: column;
}

#fan-page-chat-box {
  position: fixed;
  right: 0;
  width: 35%;
  margin-right: 20px;
  margin-top: 10px;
}

#fan-page-feed {
  position: fixed;
  left: 20px;
  width: 60%;
}

#fan-page-furia-icon {
  height: 70px;
}

.fan-page-dropdown {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none;
}

.fan-page-username {
  padding: 10px;
}

.fan-page-dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fan-page-dropdown-button {
  background: none;
  color: black;
  border: none;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  font-family: Cinzel;
  outline: 1.5px solid #a5a4a4;
}

.fan-page-dropdown-button:hover {
  background-color: #444;
}

#fan-page-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100vw;
  height: fit-content;
  z-index: 2;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fan-page-nav-img:hover {
  zoom: 0;
}
