/* #fan-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-image: url("../assets/images/wallpaper4.png");
    gap: 20px;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
} */

#fan-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-image: url('../assets/images/wallpaper4.png');
  background-size: cover;
  gap: 10px;
}

#fan-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#fan-page-feed {
  flex: 1;
  height: 200vh;
}

#fan-page-chat-box {
  position: fixed;
  right: 0;
  display: flex;
  height: 95vh;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  top: 15px;
}

#fan-page-furia-icon {
  height: fit-content;
  width: fit-content;
}

#fan-page-feed {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#fan-page-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100vw;
  height: fit-content;
}

#fan-page-furia-icon {
  height: 80px;
}

.fan-page-dropdown {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none;
}

.fan-page-username {
  padding: 10px;
}

.fan-page-dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  border: 2px solid #444;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.fan-page-dropdown-button {
  background: none;
  color: black;
  border: none;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  font-family: Cinzel;
  outline: 1.5px solid #a5a4a4;
}

.fan-page-dropdown-button:hover {
  background-color: #444;
}

#fan-page-feed {
  width: 60%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 100px; /* espaço pro menu fixo */
  box-sizing: border-box;
}

.feed-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  gap: 20px;
  align-items: center;
}

.feed-description {
  flex: 1;
  font-family: Arial, sans-serif;
}

.feed-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
