#welcom-page {
  overflow: hidden;
}

#welcome-content {
  position: relative;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  user-select: none;
}

#welcom-img-background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.7;
  z-index: -1;
}
