.campaign-table {
  width: 60%;
  border-collapse: collapse;
  font-family: sans-serif;
  background-color: hsl(0, 0%, 7%);
  color: white;
  margin: auto auto;
}

.campaign-th,
.campaign-td {
  border: 1px solid #444;
  padding: 0.75rem;
  text-align: center;
}

.campaign-tr:nth-child(even) {
  background-color: #1a1a1a;
}

.campaign-tr-header {
  background-color: #222;
  font-weight: bold;
}

.campaign-placement {
  width: 100px;
  color: #ffd700;
}

.campaign-result {
  width: 80px;
  text-align: center;
}
