#furia-chat-box {
  display: flex;
  flex-direction: column;
  height: 95vh;
  background-color: rgb(21, 22, 22);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
  opacity: 0.9;
}

#furia-chat-title {
  width: 100%;
  font-weight: 800;
  font-family: Playwrite_RO;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 2px;
  color: #646667;
  background-color: #1c1d1d;
  height: 40px;
  opacity: 0.9;
}

#furia-chat-section {
  flex: 1;
  overflow-x: hidden;

  overflow-y: scroll;
  background-color: rgb(21, 22, 22);
  min-height: 0;
}

#furia-chat-article-me {
  margin-left: 20%;
}

#furia-chat-article-other {
  margin-right: 20%;
}

.furia-chat-article {
  margin: 15px;
  background-color: rgb(164, 167, 181);
  border-radius: 5px;
}

.furia-chat-message {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  margin: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

#chat-message-sender {
  font-size: 1em;
  font-weight: bold;
  font-family: Bebas;
  height: fit-content;
}

#chat-message-message {
  font-weight: 600;
  font-family: Josefin_Sans_Italic;
  color: rgb(33, 114, 53);
}

#chat-message-timestamp {
  text-align: end;
  font-size: 0.7em;
  margin-right: 5px;
  height: fit-content;
}

#furia-chat-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

#furia-chat-submit {
  display: flex;
  width: 20%;
  background-color: rgb(208, 209, 211);
  border: none;
  border-left: solid 1px black;
  height: 100%;
}

#furia-chat-submit:hover {
  background-color: #333;
  cursor: pointer;
}

#furia-chat-submit:active {
  background-color: #636663;
  transform: scale(0.96);
}

#furia-chat-input {
  width: 80%;
  height: 100%;
  padding: 0;
  background-color: rgb(208, 209, 211);
  border: none;
  color: rgb(37, 37, 38);
  padding-left: 10px;
}

#furia-chat-input:focus {
  outline: none;
  box-shadow: none;
}

#furia-chat-warning {
  opacity: 0.3;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.7em;
  background-color: #1c1d1d;
}

#furia-chat-new-messages-warning {
  color: aqua;
  font-size: 1em;
  width: 100%;
  text-align: center;
}
