#footer-component {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: black;
    justify-self: baseline;
    align-self: flex-end;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    opacity: 0.8;
    bottom: 0;
}

.footer-img {
    max-height: 30px;
}

.footer-img:hover {
    zoom: 3;
    margin-bottom: 20px;
}

